  <li class="plate bird-card">
    <a href="{{ ('/birds/' + (bird.binomial_name | slugify) + '/') | url }}">
      <p class="type-section">{{ bird.common_name }}</p>
      <p class="type-label"><em lang="la">{{ bird.binomial_name }}</em></p>
    </a>
  </li>
